body{
			margin-left: 50px;
		}
		span{
			font-size: 40pt;
			margin-bottom: 50px;
		}
		table{
			
			margin-top: 50px;
			margin-bottom: 250px;
		}
		ul{
			margin-top: 40px;
			
		}
		li{
			font-size: 20px;
		}
		td{
			

		}
		h2{
			margin-bottom: 30px;
		}